.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.usernameSize {
    font-size: 8px;
    color: rgb(170, 155, 185);
}

.commentRow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentButton{
    width: 30px;
}