.cardsFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.marginTop{
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.noUnderline{
    color: rgb(67, 66, 66);
    border-color: rgba(255, 255, 255, 0);
}

.SearchBar{
    padding: 15px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.948);
    border-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-size: medium;
    text-align: center;
}