.alignRight{
    text-align: right;
}

.backButton{
    background-color: rgba(255, 255, 255, 0) ;
    color: rgba(52, 4, 87, 0.874);
    border-color: rgba(255, 255, 255, 0);
    padding: 10px;
}

.cardFlex{
    margin-top: 125px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}