.landingpageBackground{
    background-color: rgba(141, 141, 211, 0.286);
    color: rgba(52, 4, 87, 0.874);
    width: 100vw;
    height: 100vh;
}

.d-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.landingpageLogo{
    animation: rotation 3s infinite linear;
    width: 100px;
    height: auto;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}