.paperStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 15vh;
    max-width: 350px;
    padding: 30px;
}

.d-flex{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
}