.navigationBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(141, 141, 211, 0.286);
    padding: 10px;
}

.noUnderline:link {
    text-decoration: none;
}

.noUnderline {
    color: rgb(67, 66, 66);
    border-color: rgba(255, 255, 255, 0);
}

.noUnderline:hover {
    font-weight: 800;
    color: rgb(67, 66, 66);
}


