.navigationBottom{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(196, 196, 242, 0.944);
    padding: 10px;
}

.noUnderline:link {
    text-decoration: none;
}

.noUnderline {
    color: rgb(67, 66, 66);
    border-color: rgba(255, 255, 255, 0);
}

.noUnderline:hover {
    font-weight: 800;
    color: rgb(67, 66, 66);
}

.loginButton {
    background-color:rgba(168, 168, 169, 0.507);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

.registerButton {
    background-color: rgba(169, 108, 255, 0.141);
    padding: 10px;
    color: rgba(53, 52, 52, 0.843);
    border-radius: 5px;
    text-align: center;
    width: 120px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.welcomeText{
    color: rgb(43, 8, 74);
    font-family: monospace;
    font-size: larger;
    font-weight: 600;
}

