.topButton {
    position: fixed;
    top: 87%;
    right: 8%;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: rgba(52, 4, 87, 0.929);
    border: 2px solid rgba(255, 255, 255, 0.877);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 8px;
}

.topButton:hover{
    transition: 0.2s ease;
    box-shadow: 5px 5px 15px 5px #f9f9f977;
}

